
#loading_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 45;
}

html {
  box-sizing: border-box;
  margin: 0 0;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("../images/ui-icons/circuits.png");
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

/***** TIMER JS *****/

#tx {
  float: right;
  margin: auto;
  letter-spacing: 2px;
  font-size: 15px;
}

/*Responsive*/

@media (max-width: 425px) {
  h2 {
    font-size: 300%;
  }
}

/***** ******** *****/

#navbar {
  -webkit-box-shadow: -8px 6px 44px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 6px 44px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 6px 44px 0px rgba(0, 0, 0, 0.75);
}

#wrapper {
  background-color: white;
  position: absolute;
  margin-left:5%;
  padding: 0px;
  margin-top: 5%;
  width: 90%;
  height: auto;
  /*border: solid yellow;*/
  -webkit-box-shadow: -8px 6px 44px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 6px 44px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 6px 44px 0px rgba(0, 0, 0, 0.75);
}

.row {
  width: 100%;
  margin-left: 0px;
  /*        border: solid 1px red;*/
  position: relative;
  padding: 0px;
}

.col {
  padding: 0px;
  /*    border: solid 1px yellow;*/
}

#section-center {
  border-left: solid 1px #bfc7d3;
  border-right: solid 1px #bfc7d3;
  padding-top: 5px;
}

/********** SEc Left *******/

#section-left {
  border-left: solid 1px #bfc7d3;
  padding: 0px;
  border-radius: 50px;
}

.icon-config {
  cursor: pointer;
}

#icon-play-video {
  cursor: pointer;
}

/********** ** ** ** * *******/

#section-right {
  padding: 0px;
}

thead {
  height: 5px;
}

table {
  border-color: transparent;
}

#instructions {
  width: 100%;
}

.selectRow {
  background-color: #bfc7d3;
}

/********** VIDEO EDIT FORM *********/

/********** ***************  *********/

#blur-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .8;
  z-index: 25;
}

#video-edit-form {
  background-color: white;
  width: 60%;
  position: absolute;
  padding: 0px;
  border-radius: 10px;
  z-index: 30;
  left: 20%;
  margin-top: -25px;
  padding-bottom: 5px;
}

#video-edit-title {
  font-size: 25px;
  font-weight: lighter;
}
#input_new_msg_title{
  display: none;
}
#edit-canvas {
  margin-top: 10px;
  position: relative;
  border: #0062cc solid .5px;
  width: 100%;
  height: 15em;
  border-radius: 5px;
}

#canvas-title {
  border: #0062cc solid 1px;
  position: relative;
  text-align: center;
  width: 60%;
  height: 20%;
  margin-left: 20%;
  margin-top: -13px;
}

#canvas-foto {
  padding-top: 10%;
  border: #0062cc solid 1px;
  position: relative;
  text-align: center;
  width: 40%;
  height: 40%;
  margin-left: 30%;
  margin-top: 1em;
  display: block;
}

#canvas-foto {
  border: #0062cc solid 1px;
  position: relative;
  text-align: center;
  width: 40%;
  height: 40%;
  margin-left: 30%;
  margin-top: 1em;
  display: block;
}

#canvas-foto-img-aside-left {
  border: #0062cc solid 1px;
  float: left;
  text-align: center;
  width: 15%;
  height: 20%;
  margin-left: 5%;
  margin-top: -5em;
  display: block;
}

#canvas-foto-img-aside-right {
  border: #0062cc solid 1px;
  float: right;
  text-align: center;
  width: 15%;
  height: 20%;
  margin-right: 5%;
  margin-top: -5em;
  display: inline;
}

#canvas-text {
  border: #0062cc solid 1px;
  position: relative;
  text-align: center;
  width: 70%;
  height: 15%;
  margin-left: 15%;
  margin-top: 1em;
  display: block;
}

p {
  font-size: 13px;
  text-align: center;
}

#down-canvas {
  position: relative;
  text-align: left;
  width: 100%;
  height: 15em;
  padding-top: 0px;
  margin-top: 1em;
  display: block;
}
