html, body {
    height: 100%;
}
.center-block {  
    display: block;
    margin-top: 20em;  
    margin-right: auto;  
    margin-left: auto;  
    width:auto;  
    height: auto;
    padding:30px;  
    background-color:#eceadc;  
    color:#ec8007  ;
    border-radius: 3px;

} 
.login-form{
       margin-top: 2em;  
    margin-left: 7em;  
}